.navBarItem1{
    display: inline-block;

}

.navBarRight{
    display: flex;

}

.navBarLeft{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*align-items: space-evenly;*/

}

.navBarItem2{
    padding: 10px;
    border-radius: 1em;
}