.continue-button{
    padding: 10px;
    border-radius: 30px ;
    background-color: green;
    margin-left: 10px;
    border-color: green;
    color: white;
}

.back-button{
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
}
